.mycircle {
	border-radius: 50%;
	width: 100px;
	height: 100px; 
	font-size: 28px;
	font-weight: bold;
	padding-top: 30px;
	text-align: center;
	display: inline-block;
	cursor:pointer;
	/* width and height can be anything, as long as they're equal */
}

.myBIGcircle {
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	font-size: 28px;
	font-weight: bold;
	line-height:200px;
	text-align: center;
	display: inline-block;
	cursor:pointer;
	/* width and height can be anything, as long as they're equal */
}

.circleText{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;  
}

.myRectangle {
	width: 500px;
	height: 500px; 
	font-size: 28px;
	font-weight: bold;
	padding-top: 30px;
	text-align: center;
	display: inline-block;
	cursor:pointer;
	/* width and height can be anything, as long as they're equal */
}

.teal{
	background-color:#39DBAC;
}


.blue{
	background-color:#0D8FDB;
}

.grey{
background-color:#eee;
}

.orange{
background-color:#f0ad4e;
}

.green{
background-color:#5cb85c;
}

.red{
background-color:#d9534f;
}

.mySlide{
height: 700px;
font-size: 30px;
display: flex;
background-color:#777777;
color:#fff;
padding: 50px 120px;
}

.RecoImg{
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 40px;
}

.outerdiv
{
width:930px;
height:358px;
overflow:hidden;
position:relative;
}

#TotalUsageTrend
{
position:absolute;
top:-60px;
left:-325px;
width:1892px;
height:1200px;
}
#FridgeTrend
{
position:absolute;
top:-425px;
left:-325px;
width:1892px;
height:1200px;
}
#LaundryTrend
{
position:absolute;
top:-790px;
left:-325px;
width:1892px;
height:1200px;
}

#recommendation3
{
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}